#adminheader {
    float: left;
    width: 100%;
    border-bottom: 2px solid #006633;
}
#lindlogo {
    float: left;
    width: 50%;
}
#adminuser {
    float: left;
    width: 50%;
    text-align: right;
}
#adminnav {
    float: left;
    width: 100%;
    text-align: left;
}
#nav {
    margin: 0px 0px 0px 0px;
    padding: 6px 6px 0px 6px;
    height: 34px;
    line-height: 100%;
}
#nav li {
    margin: 0px 6px 0px 6px;
    padding: 0px 0px 6px 0px;
    float: left;
    position: relative;
    list-style: none;
}
#nav a {
    font-style: normal;
    font-size: 12pt;
    color: #48a4bb;
    text-decoration: none;
    display: block;
    padding: 8px 20px 8px 20px;
    margin: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    text-shadow: 0px 1px 1px #fff;
}
#nav .current a, #nav li:hover > a {
    color: #006090;
    text-shadow: 0px 1px 1px #fff;
}
#nav ul li:hover a, #nav li:hover li a {
    background: none;
    border: none;
    color: #006090;
    -box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
#nav ul a:hover {
    background: #0399D4 !important;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#04ACEC, endColorstr=#0186BA);
    background: -webkit-gradient(linear, left top, left bottom, from(#04ACEC), to(#0186BA)) !important;
    background: -moz-linear-gradient(top,  #04ACEC,  #0186BA) !important;
    color: #FFFFFF !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    text-shadow: 2px 2px 2px #FFFFFF;
}
#nav ul {
    background: #DDDDDD;
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#CFCFCF);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#CFCFCF));
    background: -moz-linear-gradient(top,  #FFFFFF,  #CFCFCF);
    display: none;
    margin: 0;
    padding: 0;
    width: 150px;
    position: absolute;
    top: 30px;
    left: 0;
    border: solid 1px #B4B4B4;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 3px #222222;
    -moz-box-shadow: 2px 2px 3px #222222;
    box-shadow: 2px 2px 3px #222222;
}
#nav li:hover > ul {
    display: block;
}
#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}
#nav ul a {
    padding:10px 0px 10px 15px;
    color:#424242 !important;
    font-size:12px;
    font-style:normal;
    font-family:arial;
    font-weight: normal;
    text-shadow: 2px 2px 3px #FFFFFF;
}
#nav ul li:first-child > a {
    border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topright: 10px;
}
#nav ul li:last-child > a {
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
}
#nav:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#nav {
    display: inline-block;
}
html[xmlns] #nav {
    display: block;
}
* html #nav {
    height: 1%;
}
#main {
    float: left;
    width: 100%;
}
#activeuser {
    float: left;
    width: 50%;
}
#inactiveuser {
    float: left;
    width: 50%;
}
#journal {
    float: left;
    width: 100%;
    border-bottom: 1px solid #336600;
    border-top:  1px solid #336600;
}
.bordbot {
    border-bottom: 1px solid #666600;
}
.longtextbox {
    width: 400px;
}
.medtextbox {
    width: 250px;
}
.shortextbox {
    width: 100px;
}
.image-med {
    height: 50px;
}